@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Montserrat:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* stles for header */
.header {
  margin: 0;
  background-color: #fbfafa;
  /* border: 1px solid violet; */
}

.header-img {
  height: 1.5rem;
  width: 1.5rem;
  text-align: left;
  margin: 1rem;
}

.header-menu-list {
  float: right;
}

.header-menu-list a {
  display: inline-block;
  margin: 1.2rem;
  color: #000000;
  font-size: 0.8rem;
  transition: all 0.5s ease 0.1s;
}

.header-menu-list input {
  border-radius: 2rem;
  border: none;
  margin: 5px;
  padding: 0.7rem;
  background-color: #dad9d9;
}

.header-menu-list a:hover {
  color: #1f2020;
  font-weight: bold;
}

header-menu-list a i:hover {
   
}

/* style for navbar */
.nav {
  text-align: center;
  box-sizing: border-box;
  margin: 1rem 0rem;
}

.nav-logo {
  height: 1.8rem;
  width: 3.3rem;
  float: left;
}

.nav-list {
  padding: 0.6rem;
  text-align: center;
}

.nav-list a {
  text-decoration: none;
  color: #000000;
  margin: 0.5rem;
  font-size: 1rem;
  padding: 0.7rem;
  transition: width 0.3s ease-out;
}

.nav-list a:hover {
  text-decoration: underline;
}

/* category */
.category {
  text-align: center;
}

.category__img {
  width: 6rem;
  height: 5rem;
  margin: 0.5rem;
}

.category__links {
  align-items: center;
}

.category__links li {
  display: inline-block;
  padding: 1rem;
}

.category__links li a {
  transition: all 0.3s ease 0s;
}

.category__links li a:hover {
  color: #b5b5b5;
}

/* video */
.video {
  text-align: center;
  margin: 1.5rem;
}

/* run your run section */
.run_your_run {
  text-align: center;
  cursor: pointer;
}

.ryr_heading__caps {
  font-size: 4rem;
  font-weight: bolder;
  padding: 1rem;
}

.ryr_heading {
  padding: 0.5rem;
}

.ryr_button a button {
  padding: 0.8rem;
  margin: 0.5rem;
  background-color: #000000;
  border-radius: 1.2rem;
  color: #fff;
  border: none;
  cursor: pointer;
}

.ryr_button a button:hover {
  background-color: #aaaaaa;
}

/* image section */
.__text {
    font-size: 1.6rem;
    margin: 1.7rem;
}

.gear_up__images {
  display: flex;
  justify-content: center;
  margin: 1.7rem;
  cursor: pointer;
}

.gear_up__image {
  background-image: url(nike-video.jpg);
  background-size: cover;
  height: 30rem;
  padding: 1rem;
  width: 25rem;
  margin: 0.5rem;
}

#gu__img1 {
  background-image: url(images/gu_img1.jpg);
  background-size: cover;
  text-align: center;
  color: #8968fc;
  font-size: 3rem;
  font-weight: bolder;
}
#gu__img2 {
  background-image: url(images/gu_img3.jpg);
  background-size: cover;
  text-align: center;
  color: #cdfd62;
  font-size: 3rem;
  font-weight: bolder;
}
#gu__img3 {
  background-image: url(images/gu_img2.jpg);
  background-size: cover;
  text-align: center;
  color: #ef4223;
  font-size: 3rem;
  font-weight: bolder;
}

.gu__bottom {
  color: #fff;
  font-size: 1rem;
  position: relative;
  font-weight: normal;
  display: table;
   vertical-align: bottom;
}

.gu__bottom p {
    /* position: relative; */
    display: table-cell;
    /* vertical-align: bottom; */
    text-align: left;
    /* top:0;
    left:0; */
}

.gu__bottom button {
    padding: 0.7rem 1.5rem;
    background-color: #fff;
    border-radius: 0.9rem;
    color: #000000;
    display: flex;
    justify-content: space-around;
    transition: all 0.3s ease 0s;
    border: none;
}

.gu__bottom button:hover {
    background-color: #c5c4c4;
}

/* image slider */
.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  max-width: 35rem;
}

.slider__container:hover {
  cursor: pointer;
}

.slider__wrapper .image__list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
  margin: 1.5rem;
}

.image__list::-webkit-scrollbar {
  display: none;
}

.slider__wrapper .image__list .image__item {
  width: 35rem;
  height: 40rem;
  object-fit: cover;
}

.image__list__box {
  height: 15rem; 
}

.image__list__box .heading {
  font-size: 1.1rem;
  color: #000000;
}

.image__list__box .sub__heading {
  font-size: .8rem;
  color: #403f3f;
}

.ilb__button {
  margin: 1.5rem 0;
  padding: .5rem 0;
  text-decoration: underline;
  text-decoration-color: #aaaaaa;
  text-underline-offset: .4rem;
  color: #000000;
  
}

.image__list__box a {
  margin: 0;
  font-size: .7rem;
}

.image__list__box a:hover {
  color: #616060;
}

/* bottomList */
.bottom__list {
  background-color: #fff;
  padding: 4.5rem;
}

.bl__container {
  max-width: 73rem;
  /* background-color: #d7d4d4; */
  margin: auto;
}

.bl__row {
  display: flex;
  flex-wrap: wrap;
}

.bl__row ul {
  list-style: none;
}

.bl__col {
  width: 25%;
  padding: 0 1rem;
}

.bl__col h4 {
  font-size: .8rem;
  color: #000000;
  margin-bottom: 1.8rem;
  position: relative;
}

.bl__col li:not(:last-child) {
  margin-bottom: .6rem;
}

.bl__col li a {
  font-size: .9rem;
  color: #787878;
  transform: all .3s ease 0s;
}

.bl__col li a:hover {
  color: #262626;
}

/* footer */
.footer {
  background-color: #000000;
  padding: 4.5rem;
}

.footer__container {
  max-width: 73rem;
  /* background-color: #d7d4d4; */
  margin: auto;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
}

.footer__row ul {
  list-style: none;
}

.footer__col {
  width: 25%;
  padding: 0 1rem;
}

.footer__col h4 {
  font-size: .8rem;
  color: #ffff;
  margin-bottom: 1.8rem;
  position: relative;
}

/* to get red line unders h4 --> not required */
/* .footer__col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
} */

.footer__col li:not(:last-child) {
  margin-bottom: .6rem;
}

.footer__col li a {
  font-size: .75rem;
  color: #a9a7a7;
  transform: all .3s ease 0s;
}

.footer__col li a:hover {
  color: #fff;
}

.footer__col .social__links a {
  color: #161616;
  background-color: #b5b5b5;
  padding: 3.8px;
  border-radius: 15px;
  margin: .3rem;
}

.footer__col .social__links a:hover {
  background-color: #fff;
}

.footer__bottom {
  color: #a9a7a7;
  background-color: #000000;
  font-size: .8rem;
  display: flex;
  flex-wrap: wrap;
  position: relative; 
}

.fb__container {
  display: flex;
  flex-wrap: wrap;
}

.fb__location {
  color: #fff;
  margin: 0 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fb__location i {
  margin: 0 .4rem;
}

.fb__options {
  float: end;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.fb__options ul {
  /* float: inline-end; */
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 1.5rem; */
}

.fb__options ul li {
  margin: 0 1.5rem;
}

.fb__options ul li:hover {
  color: #fff;
  cursor: pointer;
}

/* media queries */
@media(max-width: 767px) {
  .footer__col {
    width: 50%;
    margin-bottom: 1.8rem;
  }

  .bl__col {
    width: 50%;
    margin-bottom: 1.8rem;
  }
}

@media(max-width: 574px) {
  .footer__col {
    width: 100%;
  }

  .bl__col {
    width: 100%;
  }
}



/* test navbar */
.header__nav {
  background-color: #f5f5f5;
}

.nav__links {
  font-weight: 500;
  font-size: 1rem;
}

.nav__links > li,
a,
button {
  text-decoration: none;
  color: rgb(9, 9, 9);
}

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.8rem;
}

.nav__links li {
  display: inline-block;
  padding: 0rem 1.3rem;
}

.nav__links li a {
  transition: all 0.5s ease 0s;
}

.nav__links li a:hover {
  color: #1f2020;
  font-weight: bold;
  text-decoration: underline;
}

.cta button {
  padding: 0.7rem 1.5rem;
  background-color: #000000;
  border-radius: 0.9rem;
  color: #fff;
  transition: all 0.3s ease 0s;
  border: none;
}

.cta button:hover {
  background-color: rgb(44, 49, 49);
  color: #d7d4d4;
  font-style: bold;
  cursor: pointer;
}
