<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <div class="bottom__list__main">
        <div class="bottom__list">
            <div class="bl__container">
                <div class="bl__row">
                    <div class="bl__col">
                        <h4>Icons</h4>
                        <ul>
                            <li><a href="">Air Force 1</a></li>
                            <li><a href="">Huarache</a></li>
                            <li><a href="">Air Max 90</a></li>
                            <li><a href="">Air Max 95</a></li>
                        </ul>
                    </div>   
                        
                        <div class="bl__col">
                            <h4>Shoes</h4>
                            <ul>
                                <li><a href="">All Shoes</a></li>
                                <li><a href="">Custom Shoes</a></li>
                                <li><a href="">Jordan Shoes</a></li>
                                <li><a href="">Running Shoes</a></li>
                            </ul>
                        </div>             
       
                        <div class="bl__col">
                            <h4>Clothing</h4>
                            <ul>
                                <li><a href="">All Clothig</a></li>
                                <li><a href="">Modest Wear</a></li>
                                <li><a href="">Hoodies & Pullovers</a></li>
                                <li><a href="">Shirts & Tops</a></li>
                            </ul>
                        </div>
    
                        <div class="bl__col">
                            <h4>Kids'</h4>
                            <ul>
                                <li><a href="">Infants</a></li>
                                <li><a href="">Kids' Shoes</a></li>
                                <li><a href="">Kids' Jordan</a></li>
                                <li><a href="">Kids' Basketball</a></li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>