<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <footer>
        <div class="footer">
            <div class="footer__container">
                <div class="footer__row">
                    
                        <div class="footer__col">
                            <h4>FIND A STORE</h4>
                            <h4>BECOME A MEMBER</h4>
                            <h4>Send Us Feedback</h4>
                        </div>
                        <div class="footer__col">
                            <h4>GET HELP</h4>
                            <ul>
                                <li><a href="">Order Status</a></li>
                                <li><a href="">Delivery</a></li>
                                <li><a href="">Returns</a></li>
                                <li><a href="">Payment Options</a></li>
                                <li><a href="">Contact Us On Nike.com Inquiries</a></li>
                                <li><a href="">Contact Us On All Other Inquiries</a></li>
                            </ul>
                        </div>             
       
                        <div class="footer__col">
                            <h4>ABOUT NIKE</h4>
                            <ul>
                                <li><a href="">News</a></li>
                                <li><a href="">Career</a></li>
                                <li><a href="">Investors</a></li>
                                <li><a href="">Sustainability</a></li>
                            </ul>
                        </div>
    
                    <div class="footer__col">
                        <h4>Follow Us</h4>
                        <div class="social__links">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="fb__container">
                <p class="fb__location"><i class="fas fa-location"></i>India</p>
                <div class="copyright">
                    <p class="copyright__text">&copy; 2023 Nike Inc. All Rights Reserved</p>
                </div>
            </div>

            <div class="fb__options">
                <ul>
                    <li>Guiders</li>
                    <li>Terms of Sale</li>
                    <li>Terms of Use</li>
                    <li>Nike Privacy Policy</li>
                </ul>
            </div>
        </div>
    </footer>

</body>
</html>